/app/serial_bridge/firmware/sam_d21_xpro_winc1500.X/dist
/app/serial_bridge/firmware/sam_d21_xpro_winc1500.X/build
/app/serial_bridge/firmware/sam_d21_xpro_winc1500.X/debug
/app/serial_bridge/firmware/sam_d21_xpro_winc1500.X/nbproject/private
/app/serial_bridge/firmware/sam_d21_xpro_winc1500.X/nbproject/*.mk
/app/serial_bridge/firmware/sam_d21_xpro_winc1500.X/nbproject/*.properties
/app/serial_bridge/firmware/sam_d21_xpro_winc1500.X/nbproject/*.bash
/app/serial_bridge/firmware/sam_d21_xpro_winc3400.X/dist
/app/serial_bridge/firmware/sam_d21_xpro_winc3400.X/build
/app/serial_bridge/firmware/sam_d21_xpro_winc3400.X/debug
/app/serial_bridge/firmware/sam_d21_xpro_winc3400.X/nbproject/private
/app/serial_bridge/firmware/sam_d21_xpro_winc3400.X/nbproject/*.mk
/app/serial_bridge/firmware/sam_d21_xpro_winc3400.X/nbproject/*.properties
/app/serial_bridge/firmware/sam_d21_xpro_winc3400.X/nbproject/*.bash
