[flash]
size is 1M
default is 0
region at 0x000000 is [boot firmware]
region at 0x001000 is [control sector]
region at 0x002000 is [backup sector]
region at 0x003000 is [pll table]
region at 0x003800 is [gain table]
region at 0x005000 is [root certificates]
region at 0x006000 is [tls certificates]
region at 0x008000 is [connection parameters]
region at 0x009000 is [downloader firmware]
region at 0x00b000 is [wifi firmware]
region at 0x055000 is [http files]
region at 0x057000 is [ble firmware]
region at 0x07f000 is [blank]
region at 0x080000 is [ate firmware]

[ota]
size is 472K
default is 0
region is [downloader firmware]
region at 0x002000 is [wifi firmware]
region at 0x04c000 is [http files]
region at 0x04e000 is [ble firmware]

[boot firmware]
type is firmware
schema is 2
file is 1.4.6/firmware/boot_firmware.bin
prefix is NMIS

[control sector]
type is control
schema is 2
image1 at 0x009000 is [wifi firmware]
image2 at 0x080000

[backup sector]
type is reserved

[pll table]
type is pll table
schema is 2

[root certificates]
type is root certificates
schema is 2
size is 4K
default is 0xff
include [../root_certs/root_certs.config]

#Set RSA certificate and key.
#[rsa chain]
#type is tls certificate chain
#cert is 1.4.6/tls_cert_store/winc_rsa.cer
#key is 1.4.6/tls_cert_store/winc_rsa.key

#Set ECDSA certificate (key is held externally).
#[ecdsa chain]
#type is tls certificate chain
#cert is 1.4.6/tls_cert_store/winc_ecdsa.cer

#Set local RSA and/or ECDSA certificates.
#[tls certificates]
#type is tls certificates
#schema is 2
#chain is [rsa chain]
#chain is [ecdsa chain]

#By default, no local certificates.
[tls certificates]
type is reserved

[connection parameters]
type is reserved

[downloader firmware]
type is firmware
schema is 2
file is 1.4.6/firmware/downloader_firmware.bin
prefix is NMIS

[wifi firmware]
type is firmware
schema is 2
file is 1.4.6/firmware/wifi_firmware.bin
prefix is NMIS

[http files]
type is http files
schema is 1
filename length is 32
size is 8K
default is 0xff
file is 1.4.6/http_files/default.html
file is 1.4.6/http_files/style.css
file is 1.4.6/http_files/favicon.ico
file is 1.4.6/http_files/logo.png
file is 1.4.6/http_files/error.json
file is 1.4.6/http_files/scanresults.json
file is 1.4.6/http_files/ok.json

[ble firmware]
type is firmware
schema is 3
file is 1.4.6/firmware/ble_firmware.bin
prefix is BTFW

[blank]
type is reserved

[ate firmware]
type is firmware
schema is 4
file is 1.4.6/firmware/burst_tx_firmware.bin
prefix is FTMA
