[flash]
size is 1M
region at 0x000000 is [boot firmware]
region at 0x001000 is [control sector]
region at 0x002000 is [backup sector]
region at 0x003000 is [pll table]
region at 0x003400 is [gain table]
region at 0x004000 is [root certificates]
region at 0x005000 is [tls certificates]
region at 0x007000 is [http files]
region at 0x009000 is [connection parameters]
region at 0x00A000 is [downloader firmware]
region             is [wifi firmware]
region at 0x045000 is [ate firmware]

[ota]
size is 236K
region is [downloader firmware]
region is [wifi firmware]

[boot firmware]
type is firmware
schema is 1
file is 19.7.3/firmware/boot_firmware.bin
header is present
prefix is NMIS

[control sector]
type is control
schema is 1
version is 1
flash map is 4
image1 at 0x00A000 is [wifi firmware]
image2 at 0x045000

[backup sector]
type is reserved

[pll table]
type is pll table
schema is 1

[root certificates]
type is root certificates
schema is 1
include [../root_certs/root_certs.config]

#Set RSA certificate and key.
#[rsa chain]
#type is tls certificate chain
#cert is 19.7.3/tls_cert_store/winc_rsa.cer
#key is 19.7.3/tls_cert_store/winc_rsa.key

#Set ECDSA certificate (key is held externally).
#[ecdsa chain]
#type is tls certificate chain
#cert is 19.7.3/tls_cert_store/winc_ecdsa.cer

#Set local RSA and/or ECDSA certificates.
#[tls certificates]
#type is tls certificates
#schema is 3
#chain is [rsa chain]
#chain is [ecdsa chain]

#By default, no local certificates.
[tls certificates]
type is reserved

[connection parameters]
type is reserved

[downloader firmware]
type is firmware
schema is 1
file is 19.7.3/firmware/downloader_firmware.bin
prefix is NMIS

[wifi firmware]
type is firmware
schema is 1
file is 19.7.3/firmware/wifi_firmware.bin
prefix is NMID

[http files]
type is http files
schema is 2
filename length is 32
file is 19.7.3/http_files/default.html
file is 19.7.3/http_files/style.css
file is 19.7.3/http_files/favicon.ico
file is 19.7.3/http_files/logo.png
file is 19.7.3/http_files/error.json
file is 19.7.3/http_files/scanresults.json
file is 19.7.3/http_files/ok.json

[ate firmware]
type is firmware
schema is 4
file is 19.7.3/firmware/burst_tx_firmware.bin
prefix is FTMA